<div class="container">
    <form>
        <div>
            <label>Id</label>
            <input type="text" name="id" ngModel="id" >
        </div>

        <div>
            <label>Nome</label>
            <input type="text" name="nome" ngModel="nome" >
        </div>

        <div>
            <label>Peso</label>
            <input type="text" name="peso" ngModel="peso" >
        </div>

        <div>
            <label>Raça</label>
            <input type="text" name="raca" ngModel="raca" >
        </div>

        <div>
            <label>Raça</label>
            <input type="text" name="especie" ngModel="especie" >
        </div>

        <div>
            <label>Sexo</label>
            <input type="text" name="sexo" ngModel="sexo">
        </div>

        <div>
            <label>Sexo</label>
            <input type="text" name="data" ngModel="data">
        </div>

        <button (click)="buttonClick()">
            {{ id? 'Salvar' : 'Criar' }}
        </button>
    </form>

    <table>
        <thead>
            <th> Id </th>
            <th> Nome </th>
            <th> Peso </th>
            <th> Sexo </th>
            <th> ... </th>
        </thead>

        <tbody>
            <tr *ngFor="let paciente of pacientes">
                <td>{{paciente.id}}</td>
                <td>{{paciente.nome}}</td>
                <td>{{paciente.raca}}</td>
                <td>{{paciente.sexo}}</td>
            </tr>
        </tbody>
    </table>
</div>